/* created by Irina Shushkevych */
.list {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  text-align-last: left;
  padding-bottom: 30px;
}

.item {
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}
